.Home {
  width: 100%;
  height: 100%;
  min-width: 720px;

  .content {
    width: 100%;
    display: flex;
    justify-content: center;

    .article {
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      overflow: hidden;

      .titleHolder {
        display: flex;
        width: 100%;
        height: 480px;
        justify-content: center;

        .title {
          max-width: 1400px;
          height: 360px;
          background-repeat: no-repeat;
          background-size: cover;
          border-radius: 28px;
          padding: 80px 200px 20px 70px;
          margin: 20px;
          overflow: hidden;
          flex-grow: 1;

          .text {
            font-size: 84px;
            font-weight: 600;
          }

          .description {
            font-size: 22px;
            line-height: 32px;
            margin-top: 40px;
            overflow: hidden;
          }
        }
      }

      .body {
        max-width: 900px;
        margin-bottom: 80px;
        padding: 0 20px;

        .firstTitle {
          font-size: 48px;
          font-weight: 500;
          margin: 80px 4px 40px 4px;
          color: #222222;
        }

        .text {
          font-size: 19px;
          color: #333333;
          margin: 18px 4px 28px 4px;
          line-height: 26px;
        }

        .terTitle {
          font-size: 21px;
          color: #000000;
          margin: 20px 4px;
          line-height: 26px;
        }

        .image {
          width: 100%;
          margin: 20px 0;
          border-radius: 28px;
          object-fit: cover;
          object-position: 50% 50%;
        }
      }

      .control {
        width: 100%;
        height: 130px;
        display: flex;
        margin-bottom: 50px;
        align-items: center;
        justify-content: center;

        div {
          max-width: 500px;
          height: 100%;
          background: #f5f7fa;
          flex-grow: 1;
          margin: 10px;
          border-radius: 32px;
          transition: background-color 0.18s ease-in-out;

          h1 {
            font-size: 18px;
            font-weight: 500;
            margin: 20px 20px 16px 24px;
            color: #444746;
            height: 30px;
            display: flex;
            align-items: center;

            span {
              margin: 0 3px;
            }
          }

          p {
            margin: 0 27px;
            font-size: 24px;
            font-weight: 500;
            color: #1f1f1f;
          }
        }

        div:hover {
          background: #c2e7ff;
        }
      }

      .footer {
        height: 300px;
        width: 100%;
        max-width: 1400px;
        position: relative;

        .author {
          position: absolute;
          display: flex;
          padding: 30px;
          cursor: pointer;
          bottom: 30px;
          left: 0;
          right: 0;
          align-items: center;
          color: #222222;

          img {
            width:  40px;
            height: 40px;
            border-radius: 6px;
            margin-right: 16px;
          }

          p {
            flex-grow: 1;
          }

          span {
            font-size: 18px;
          }
        }
      }
    }
  }
}
